.ContactAdd{
    width: 80%;
    margin: auto;
}

.ContactAdd input, .NoteAdd textarea {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    margin: 10px auto;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.ContactAdd textarea {
    height: 200px;
}
.ContactAdd button, .Back {
    font-family: inherit;
    padding: 10px;
    border: 1px solid #ccc;
    background:  #eee;
    cursor: pointer;
    font-size: 20px;
    margin: 15px 15px 0 0;
}
.photo {
    width: 150px;
    height: 200px;
}
div {
    padding: 10px;
}