.ContactFullView{
    display: inline-block;

}
.pic, .name, .phone, .email {
    display: flex;

}
.delete, .edit {
    padding: 20px;
    margin: 20px;
}
.name {
    font-size: 25px;
    font-weight: bold;
}