.pic {
    width: 150px;
    height: 200px;
    margin: 5px;
}
.name {
    font-size: 20px;
    padding: 5px;
    margin: 15px;
}

.ContactControl {
    margin: 10px;
    padding: 25px;
    width: 60%;
    border: 1px solid black;
    display: flex;
    align-content: center;
}
.ContactControl:hover {
    background-color: #eee;
}